<html lang="zh-CN">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="baidu-site-verification" content="QPwnOR6BKg" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    <link href="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/hybrid.min.css"}}" />
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"/> -->

    {{ghost_head}}
</head>

<body class="{{body_class}} {{#is 'index, tag, author'}}user{{/is}} {{#is 'post'}}{{#unless post.image}}noimage{{/unless}}{{/is}}"
      "{{#if @blog.cover}}" style="background: url({{@blog.cover}}) fixed repeat center top #f0f0f0; {{/if}}">

    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <header role="banner" class="">
        <div class="wrap">
            <a href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <div class="logo-wrap">
                        <span class="logo" style="background-image: url('{{@blog.logo}}');">{{@blog.title}}</span>
                    </div>
                {{/if}}
                <span class="site-title">{{@blog.title}}</span>
            </a>

            <div class="f-right">
                {{> social}}
            </div>
        </div>
    </header>

    <div class="{{#is 'post'}} post-page{{/is}} uk-grid main-content">
        <div class="uk-width-medium-3-4 uk-row-first">
            {{{body}}}
        </div>
        <div class="uk-width-medium-1-4">
            {{> "sidebar"}}
        </div>
    </div>


    <!-- footer -->
    <!-- <footer class="site-footer clearfix">
         <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
         <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a> &amp; <a href="http://www.ghostchina.com">GhostChina</a></section>
    </footer> -->


    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    </div>
    <img id="go2top" src="/assets/images/top_arrow.png" alt="go2top" style="display: inline;">
    <script type="text/javascript" src="{{asset "js/lib/jquery-2.1.3.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/lib/jquery-imagesloaded.js"}}"></script>
    <script src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="//cdn.bootcss.com/jquery.sticky/1.0.3/jquery.sticky.min.js"></script>
    <script type="text/javascript" src="{{asset "js/scrollSpy.js"}}"></script>
    <script src="//cdn.bootcss.com/jquery-infinitescroll/2.0b2.120520/jquery.infinitescroll.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
    <script type="text/javascript" src="{{asset "js/common.js"}}"></script>

</body>
</html>
