<!-- <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span> -->

<!-- <hr class="post-list__divider " /> -->
<!-- <div class="loaderhloder" style="display: none;">
	<div class="beatloader" >
    <h1>LOADING...</h1>
    <span></span>
    <span></span>
    <span></span>
</div>
</div>

<nav class="pagination" role="navigation" style="display: none;">
    {{#if prev}}
        <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="{{page_url prev}}#blog">&larr; 最近</a>
    {{/if}}
    <span class="pagination__page-number">{{page}} / {{pages}}</span>
    {{#if next}}
        <a class="older-posts pagination__older btn btn-small btn-tertiary" href="{{page_url next}}#blog">更早 &rarr;</a>
    {{/if}}
</nav> -->
