<div id="waterfall">
{{#foreach posts}}
<article class="list">
    <div class="article-wrap">
        <header class="article-header">
            <h1 class="title">
                <i class="icon uk-icon-file-text-o"></i>
                <a href="{{url}}">{{title}}</a>
            </h1>
            <time class="article-header-time" datetime="{{date format='YYYY-MM-DD'}}">
                <span class="day">{{date format="DD"}}</span>
                <span class="month">{{date format="YYYY年MM月"}}</span>
            </time>
        </header>
        {{#if image}}
        <section class="article-gallery">
            <div class="article-gallery-photos">
                <img src="{{image}}" itemprop="image" >
            </div>
        </section>
        {{/if}}

        <div class="article-content" id="js-post-content">
            {{excerpt paragraphs="1"}}
        </div>
        <hr/>
        <footer class="article-footer clearfix">
            <a href="{{url}}"><i class="uk-icon-chevron-right"> 继续阅读</i></a>
        </footer>
    </div>
</article>
{{/foreach}}
</div>
{{"pagination"}}
